<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
  </head>
  <body>
    <div ng-controller="myController">
      <ul ng-repeat="country in countries" ng-init="parentIndex = $index">
        <li>
          {{country.name}} - Index = {{ $index }}
          <ul>
            <li ng-repeat="city in country.cities">
              {{city.name}} - Parent Index = {{ parentIndex }}, Index = {{
              $index }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
