<!doctype html>
<html ng-app = "myModule">
    <head>
        <script src="Scripts/angular.js"></script>
        <script src="Scripts/script.js"></script>
    </head>
    <body>
        <div ng-controller="myController">
            <input type="checkbox" ng-model="hideSalary"/> Hide Salary
            <br></br>                 
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th ng-show="!hideSalary">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td ng-show="!hideSalary"> {{ employee.salary  }} </td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>
