<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
  </head>
  <body>
    <div ng-controller="myController">
      <table>
        <tr>
          <td>First Name</td>
          <td>
            <input
              type="text"
              placeholder="Firstname"
              ng-model="employee.firstName"
            />
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input
              type="text"
              placeholder="Lastname"
              ng-model="employee.lastName"
            />
          </td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>
            <input
              type="text"
              placeholder="Gender"
              ng-model="employee.gender"
            />
          </td>
        </tr>
      </table>

      <br />

      <table>
        <tr>
          <td>First Name</td>
          <td>{{ employee.firstName }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ employee.lastName }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ employee.gender }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
